body{
	font-family: Serif;
}

p{
	line-height: 1.15;
}

h1{
	font-size: 28pt;
	text-align: center;
	padding-top: 80px;
}

/***************************/
/*******SKIP TO MAIN********/
/***************************/
.skip a{
  background: #fff;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;

  position: absolute;
  top: -40px; 
  /*what else should I use other than margin top?*/
}

.skip a:focus{
  top: 0px;
  border: 2px solid #000;
}
/***************************/

#homepage{
	background: #DDD url("../images/up-highway.jpg") no-repeat;
	background-attachment: fixed;
	background-size: cover;
  background-position: center;
  height: 400px;
    /*margin-bottom: 1000px;*/
    /*how do i set a min-width for my bg?*/
    /*how do i bump my bg up and down before fixing it?*/
    /*padding: 300px;*/
}

#photopage{
	background: #DDD url("../images/lake-superior-kayak.jpg") no-repeat;
	background-attachment: fixed;
	background-size: cover;
  background-position: center;
  height: 400px;
}

#filmpage{
	background: #DDD url("../images/belleisle.jpeg") no-repeat;
	background-attachment: fixed;
	background-size: cover;
  background-position: center;
  height: 400px;
}

#otherpage{
	background: #DDD url("../images/argo.jpg") no-repeat;
	background-attachment: fixed;
	background-size: cover;
  background-position: center;
  height: 400px;
  color: #fff;
}

/* highlights the active webpage in the nav*/
.highlight-other, .highlight-index, .highlight-film, .highlight-photo{
	text-decoration: underline;
}

/***************************/
/*****   nav styles   ******/
/***************************/
nav li{
  display: inline;
  padding-right: 50px;
  /*desktop media query: padding-right: 50px;*/
}

nav a{
  color: #fff;
  font-weight: bold;
  text-decoration: none; 
}

nav a:hover{
  text-decoration: underline;
}

nav{
	position: fixed;
	width: 100%;
	text-align: center;
	padding: 15px;
	background-color: #000;
}
/***************************/

#intro{
	/*font-size: 1.5em;*/
	text-align: center;
	padding: 50px;
}

#photo-description{
	text-align: center;
	padding: 30px;
}

#film-description{
	text-align: center;
	padding: 50px;
}

#design-description{
	text-align: center;
	padding: 50px;
}

/***************************/
/** photos grid container **/
/***************************/

.photos-grid-container{
  width: 85%;
  margin: 0 auto;
}

.photos-gallery{
	display: grid;
	grid-row-gap: 20px;
  grid-column-gap: 20px;
	grid-template-columns: auto; /* mobile first query */
	grid-template-rows: auto auto auto auto auto auto;
  align-items: center;
	margin-bottom: 50px;
    /*width: 90vw;*/
    /*how do i center the elements in my grid?*/
}

.img-one, .img-two, .img-three, .img-four, .img-five{
	grid-column-start: 1;
	grid-column-end: 2;
	border: 5px solid white;
  /*might need to add each img to its own row. works in mobile for now!(??)*/

	box-shadow: 0 1px 1px rgba(0,0,0,0.24), 
              0 2px 2px rgba(0,0,0,0.24), 
              0 4px 4px rgba(0,0,0,0.24), 
              0 8px 8px rgba(0,0,0,0.24),
              0 16px 16px rgba(0,0,0,0.24);
}

.photos-text-block{
	grid-column-start: 1;
	grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 2;

	box-shadow: 0 1px 1px rgba(0,0,0,0.24), 
              0 2px 2px rgba(0,0,0,0.24), 
              0 4px 4px rgba(0,0,0,0.24), 
              0 8px 8px rgba(0,0,0,0.24),
              0 16px 16px rgba(0,0,0,0.24);
}
/* box shadow from https://tobiasahlin.com/blog/layered-smooth-box-shadows/ */

.photos-text-block p{
	background: #fff;
	padding: 20px;
}

.img-one img, .img-two img, .img-three img, .img-four img, .img-five img{
	display: block;
  max-width: 100%;
  /*max-height: auto;*/
}

.img-one img{
  overflow: hidden;
}

/***************************/
/******** footer ***********/
/***************************/
footer{
	font-size: .75em;
	position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background: #000;
  text-align: center;
  color: #fff;
  min-height: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: lowercase;
}
/***************************/

/* tablet media query */
@media screen and (min-width: 850px){
  .photos-gallery{
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto auto auto auto auto;

  }
  .photos-text-block{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .img-one{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4; 
  }

  .img-two{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    align-items: center;
  }
  .img-three{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .img-four{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
  }

  .img-five{
    grid-column-start: 1;
    grid-column-end: 4;
  }
}


/* reduce motion media query*/
@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto;
  }

  .skip a{
    -webkit-transition: none;