body{
	font-family: Serif;
}

h1{
	font-size: 28pt;
	text-align: center;
}

#homepage{
	background: #DDD url("../images/up-highway.jpg") no-repeat;
	background-size: cover;
    background-position: center;
    /*how do i set a min-width for my bg?*/
    /*padding: 300px;*/
}

#photopage{
	background: #DDD url("../images/lake-superior-kayak.jpg") no-repeat;
	background-size: cover;
    background-position: center;
}

#filmpage{
	background: #DDD url("../images/belleisle.jpeg") no-repeat;
	background-size: cover;
    background-position: center;
}

#otherpage{
	background: #DDD url("../images/argo.jpg") no-repeat;
	background-size: cover;
    background-position: center;
    color: #fff;
}

#otherpage nav a{
	color: #fff;
	text-shadow: 1px 1px #000;
}

.highlight-other, .highlight-index, .highlight-film, .highlight-photo{
	text-decoration: underline;
}

nav li{
  display: inline;
  padding-right:20px;

}

nav a{
  color: #000;
  font-weight: bold;
  text-decoration: none; 
}

nav a:hover{
  text-decoration: underline;
}

nav{
	text-align: center;
	padding: 50px;
}

footer{
	position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background: #000;
    text-align: center;
    color: #fff;
    min-height: 60px;
    padding-top: 20px;
}

#intro{
	/*font-size: 1.5em;*/
	text-align: center;
	padding: 50px;
}

#photo-description{
	text-align: center;
	color: #fff;
	padding: 50px;
}

#film-description{
	text-align: center;
	padding: 50px;
}

#design-description{
	text-align: center;
	padding: 50px;
}